{% extends 'base.html' %}

{% block content %}

<div class="log-container">
  <h1>Log Your Run</h1>

  <form method="POST" id="run-form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}

    <button class="btn btn-primary">Create Run</button>
  </form>
</div>

{% endblock %}