{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="home-hero row justify-content-lg-center">
        <h1>Ready to Run with Music?</h1>
        <div class="col-md-6">
            <h4>Log in to get started!</h4>
            <a href="/login" class="btn btn-primary">Log In</a>
        </div>
        <div class="col-md-6">
            <h4>Don't have an account yet?</h4>
            <a href="/signup" class="btn btn-success">Create Account</a>
        </div>
        
    </div>
</div>

{% endblock %}