{% extends 'base.html' %}

{% block content %}

<div class="playlist-container">
    <div class="buttons-container">
        <a href='/' class="btn btn-primary">Create a New Playlist</a>
        <a href="/music/{{ playlist.id }}/edit" class="btn btn-secondary">Recurate Playlist</a>
        <a href="/music/{{ playlist.id }}/delete" class="btn btn-danger">Delete This Playlist</a>
    </div>
    <h1>{{ playlist.name }}</h1>
    <h3>Mood: {{ playlist.mood }}</h3>

    <div class="songs">
        {% for song in playlist.songs %}
        <p>
            {{ loop.index }}. {{ song.name }} - {{ song.artist }}
        </p>
        {% endfor %}
    </div>
    
</div>

{% endblock %}